/* tablet device */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .menu {
        display: none;
    }

    .mobile-menu {
        display: block;

    }

    .header-area {
        padding: 0;
    }

    .hero-area {
        padding: 160px 0 90px;
    }

    .count-wrapper .single-count {
        width: 50%;
        margin-bottom: 30px;
    }

    .count-wrapper .single-count p {
        text-align: left;
    }



    .hero-content .title {
        font-size: 44px;
        line-height: 70px;
    }

    .hero-thumb {
        width: 50%;
        padding-bottom: 60px;
    }

    .hero-thumb .shape-1 .shape-2 {
        left: 5px;
        top: -35px;
    }

    .player-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-content .title {
        font-size: 35px;
    }

    .about-content p {
        font-size: 16px;
    }




}

/* mobile device */
@media (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }



    .header-area {
        padding: 0;
    }

    .hero-wrapper {
        width: 100%;

    }

    .hero-text {
        width: 100%;
        margin-bottom: 60px;
    }

    .menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .hero-area {
        padding: 122px 0 90px;
        width: 100%;
    }

    .hero .hero-content {
        width: 100%;
        margin-bottom: 70px;
    }

    .hero-content .title {
        font-size: 36px;
        line-height: 50px;
    }

    .hero-thumb {
        width: 100%;
        padding-bottom: 60px;
    }

    .shape {
        left: 60px;
    }

    .shape-1 .shape-2 {
        left: 10px;
        top: -10px;
    }

    .players-area {
        padding: 50px 0;
    }

    .player-wrapper {
        grid-template-columns: 1fr;
    }

    .about-area {
        padding: 50px 0;
    }

    .about-content {
        width: 100%;
        margin-bottom: 50px;
    }

    .about-content .title {
        font-size: 32px;
        line-height: 45px;
        padding-right: 0;
    }

    .about-content p {
        padding-right: 0;
    }

    .about-thumb {
        width: 100%;
    }

    .footer-area {
        padding: 50px 0;
    }


    .responsive-table {
        overflow-x: auto;
    }

    .hero-text h1 {
        font-size: 35px;
        line-height: 50px;
    }

    .count-wrapper {
        padding: 30px;
    }


    .count-wrapper .single-count {
        margin-bottom: 30px;
        text-align: center;
    }

}